extends layout

block content 
    h1(style="text-align:center;")= message
    h2(style="text-align:center;")= status
    p(style="text-align:center;")
      a(href='/', style="text-align:center;") ← GO BACK TO HOME
    p= stack